{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "extensions": [".js", ".ios.js", ".android.js"],
            "alias": {
                "assets": "./src/assets",
                "components": "./src/components",
                "config": "./src/config",
                "images": "./src/images",
                "routes": "./src/routes"
            }
        }]
    ]
}
